<div class="mainDiv">
  <div style="padding:40px" class="text-center well">
    <h1 class="text-primary">Sign in as</h1>

  <div class="btn-group btn-group-justified" role="group" aria-label="..." style="padding:20px">
    <div class="btn-group" role="group">
      <%= link_to "A seller", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to "A pickupstore", new_pickup_session_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
  </div>
</div>
