<h1>Account#index</h1>
<p>Find me in app/views/account/index.html.erb</p>

<%= link_to "Sign in as seller", new_user_session_path %><br>

<%= link_to "Sign in as pickupstore", new_pickup_session_path %><br>
