<div class="mainDiv">
  <div style="padding:40px" class="text-center well">
    <div class="container-fluid" style="max-width:240px">
      <div class="list-group">
        <h3 class="list-group-item">Register as a</h3>
        <%= link_to "seller", new_seller_registration_path, :class => "list-group-item", :style => "text-align:center" %>
        <%= link_to "pickupstore", new_pickup_registration_path, :class => "list-group-item", :style => "text-align:center" %>
      </div>
    </div>
  </div>
</div>
