  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav" style="padding:40px">
        <p>Welcome <a href="">'first_name'</a></p>
        <p>Your balance: __</p>
        <p>Orders last 7 days: __</p>
        <p>Orders last 30 days: __</p>
        <p>Avergage storage time: __</p>
        <a href"#">Edit your account</a>
      </div>
      <div class="col-sm-8 text-center" style="padding:40px">
        <div class="well">
          <h1>Ready to pick-up:</h1>
        </div>
      </div>
      <div class="col-sm-2 sidenav" style="padding-top:40px">
        <div class="well">
          <p>Expected today:</p>
        </div>
        <div class="well">
          <p>History:</p>
        </div>
      </div>
    </div>
  </div>
